@model hotel_reservation.Models.EntityFramework.CreditCard

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CreditCardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
