@model hotel_reservation.Models.EntityFramework.reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <div class="box">


        <h4>reservation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.date_in)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_in)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.date_out)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_out)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.made_by)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.made_by)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.guest.first_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.guest.first_name)
            </dd>

        </dl>
    </div>
</div>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
